<div class="container">
  <h1>Welcome to Your Application</h1>
  
  <% if user_signed_in? %>
    <div class="user-info">
      <p>Hello, <%= current_user.email %>!</p>
      <p>You are successfully logged in.</p>
      
      <div class="actions">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      </div>
    </div>
  <% else %>
    <div class="welcome-message">
      <p>Please log in to access your account.</p>
      
      <div class="actions">
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>
